.twitter-panel {
    height: calc(100vh - 64px);
    .twitter-panel-card {
        height: 90%;
        mat-card-header {
            ::ng-deep .mat-card-header-text {
                text-align: center;
                margin: auto !important;
            }
        }
        .twitter-panel-card-container {
            height: 90%;
        }
    }
}