<div class="twitter-panel" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">
    <mat-card class="twitter-panel-card" fxFlex="90">
        <mat-card-header>
            <mat-card-title>
                <h4>Configuración Twitter</h4>
            </mat-card-title>
            <mat-card-subtitle>Agenda de contactos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="twitter-panel-card-container">

           

        </mat-card-content>
    </mat-card>
</div>